<%= turbo_frame_tag dom_id(quote, :client) do %>
  <div class="relative mt-4 px-4 py-2 duration-300 has-[a:hover]:shadow-md">
    <p class="uppercase font-extrabold mb-3"><%= quote.client_name %></p>
    <% if quote.client_address1.present? %>
      <p class="uppercase"><%= quote.client_address1 %></p>
    <% end %>
    <% if quote.client_address2.present? %>
      <p class="uppercase"><%= quote.client_address2 %></p>
    <% end %>
    <% if quote.client_zipcode.present? %>
      <p class="uppercase"><%= quote.client_zipcode %></p>
    <% end %>
    <% if quote.client_city.present? %>
      <p class="uppercase"><%= quote.client_city %></p>
    <% end %>
    <% if quote.client_country.present? %>
      <p class="uppercase"><%= quote.client_country %></p>
    <% end %>

    <%= link_to '',
        [:edit_client, quote],
        class: "absolute inset-0 #{hide_on_pdf}" %>
  </div>
<% end %>