<main class="document-container">
  <div class="document-nav">
    <%= link_to sanitize("&larr; #{t('back_to_quotes')}"), quotes_path %>
  </div>

  <div class="document">
    <%= simple_form_for @quote, html: { class: 'form document--form' } do |f| %>
      <div class="document__header">
        <div class="document__user">
          <%= render 'documents/user', user: @quote.user %>
        </div>
        <div class="document__client">
          <%= f.input :client_name, autofocus: true %>
        </div>
      </div>
      <div class="document__infos form document-infos--form">
        <%= f.input :date, html5: true %>
        <%= f.input :title %>
        <%= f.input :flavor, collection: flavors_select_hash, include_blank: false %>
      </div>

      <%= button_tag class: 'btn btn--primary btn--icon' do %>
        <%= t('create_quote_and_add_items') %>
      <% end %>
    <% end %>

    <div class="document__body">
    </div>
  </div>
</main>