<%= turbo_frame_tag dom_id(quote, :new_description_block) do %>
  <div class="description-block description-block--form">
    <%=
     simple_form_for [quote, description_block],
      method: :patch,
      class: 'flex gap-2',
      data: { turbo_frame: :description_blocks } do |f|
    %>
      <%= f.hidden_field :block_type, value: params['block_type'] %>

      <div>
        <% case params['block_type'] %>
        <% when 'title' %>
          <%=
            f.text_field :block_value,
            placeholder: t('title').capitalize,
            autofocus: true,
            class: 'form-input'
          %>
        <% when 'text' %>
          <%=
            f.text_area :block_value,
            placeholder: t('text').capitalize,
            size: '40x3',
            autofocus: true,
            class: 'form-input'
          %>
        <% when 'list' %>
          <%=
            f.text_area :block_value,
            placeholder: t('list_placeholder'),
            autofocus: true,
            size: '40x5',
            class: 'form-input'
          %>
        <% end %>
      </div>
      <%= link_to svg('return', 'w-4 h-4'), quote_path(@quote), class: 'btn-icon' %>
      <%= button_tag class: 'btn-icon-primary' do %>
        <%= svg('check', 'w-4 h-4') %>
      <% end %>
    <% end %>
  </div>
<% end %>