<div class="max-w-[817px] mx-auto mb-20 px-4">
  <div class="flex items-center justify-between mb-4 <%= hide_on_pdf %>">
    <%= link_to sanitize("&larr; #{t('back_to_quotes')}"), quotes_path %>
    <div class="flex gap-3 items-center">
      <%= button_to svg('trash', 'w-6 h-6'),
                    @quote,
                    method: :delete,
                    form: { data: { turbo_confirm: t('are_you_sure') } },
                    class: 'btn-icon' %>
      <%= link_to 'PDF', export_to_pdf_quote_path(@quote, format: :pdf), class: 'btn-primary' %>
    </div>
  </div>
  <div class="flex flex-col bg-white rounded-md shadow-md p-4 mb-6 print:break-inside-avoid-page group-[[data-pdf='true']]:shadow-none">
    <div class="flex justify-between mb-7">
      <div class="w-1/2 shrink-0 px-4 py-2">
        <p class="font-extrabold uppercase mb-3"><%= @quote.user.full_name %></p>
        <p class="uppercase"><%= @quote.user.address1 %></p>
        <p class="uppercase"><%= @quote.user.zipcode %> <%= @quote.user.city %></p>
        <p><%= @quote.user.country %></p>
        <div class="my-3">
          <p><%= @quote.user.email %></p>
          <p><%= @quote.user.website %></p>
        </div>
        <p class="font-extrabold">SIREN: <%= @quote.user.siren %></p>
      </div>
      <div class="w-1/2 shrink-0 text-right">
        <%= render 'client', quote: @quote %>
      </div>
    </div>

    <%= render 'infos', quote: @quote %>

    <div class="px-4 py-3">
      <div class="flex flex-col">
        <%= render 'line_items/header', document: @quote %>
        <%= turbo_frame_tag nested_dom_id(@quote, :line_items) do %>
          <%= render @quote.line_items.ordered, document: @quote %>
        <% end %>
        <%= turbo_frame_tag nested_dom_id(@quote, LineItem.new) %>
        <%= button_to svg('plus', 'w-4 h-4'),
                    [:new, @quote, :line_item],
                    method: :get,
                    data: { turbo_frame: nested_dom_id(@quote, LineItem.new) },
                    class: "btn-icon m-2 #{hide_on_pdf}" %>
        <%= turbo_frame_tag dom_id(@quote, :total) do %>
          <%= render 'documents/total', document: @quote %>
        <% end %>
      </div>
      <%= render 'documents/tva', document: @quote %>
    </div>
    <%= turbo_frame_tag :agreement do %>
      <%= render "agreement", quote: @quote %>
    <% end %>
  </div>
  <div class="mb-4 bg-white rounded-md shadow-md print:break-inside-avoid-page group-[[data-pdf='true']]:shadow-none has-[div]:p-12 has-[form]:p-12">
    <%= turbo_frame_tag nested_dom_id(@quote, 'description_blocks') do %>
      <% @quote.description_blocks.each do |description_block| %>
        <%= render description_block, quote: @quote %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag nested_dom_id(@quote, DescriptionBlock.new) %>
  </div>
  <div class="flex items-center gap-3 <%= hide_on_pdf %>">
    <% ['title', 'text', 'list'].each do |flavor| %>
      <%=
        button_to [:new, @quote, :description_block],
        method: :get,
        data: { turbo_frame: nested_dom_id(@quote, DescriptionBlock.new) },
        class: "btn-light flex items-center gap-1.5" do
      %>
        <%= hidden_field_tag :flavor, flavor %>
        <%= svg('plus', 'w-5 h-5') %> <%= t(flavor) %>
      <% end %>
    <% end %>
  </div>
</div>