<%= turbo_frame_tag dom_id(invoice, :client) do %>
  <div class="relative mt-4 px-4 py-2 duration-300 has-[a:hover]:shadow-md">
    <p class="uppercase font-extrabold mb-3"><%= invoice.client_name %></p>
    <p class="uppercase"><%= invoice.client_address1 %></p>
    <% if invoice.client_address2.present? %>
      <p class="uppercase"><%= invoice.client_address2 %></p>
    <% end %>
    <p class="uppercase"><%= invoice.client_zipcode %> <%= invoice.client_city %></p>
    <p><%= invoice.client_country %></p>
    <% unless invoice.locked %>
      <%= link_to '',
          [:edit_client, invoice],
          class: "absolute inset-0 #{hide_on_pdf}" %>
    <% end %>
  </div>
<% end %>