<%= turbo_frame_tag dom_id(invoice, :payment) do %>
  <div class="invoice-payment <%= class_names(locked: invoice.locked?) %>">
    <div class="invoice-payment__line bold"><%= t('payment_informations') %></div>
    <div class="invoice-payment__line"><span>BIC :</span><span><%= bank.bic %></span></div>
    <div class="invoice-payment__line"><span>IBAN :</span><span><%= bank.iban %></span></div>
    <div class="invoice-payment__line"><span><%= t('payment_label') %> :</span><span class="bold"><%= invoice.number %></span></div>
    <p class="invoice-payment__disclaimer"><%= t('payment_label_explaination') %></p>
    <% unless invoice.locked %>
      <%= link_to '',
          [:edit_bank, invoice],
          class: "full-absolute #{hide_on_pdf}" %>
    <% end %>
  </div>
<% end %>