<%= turbo_frame_tag dom_id(@invoice, :infos) do %>
  <%= simple_form_for @invoice, url: update_infos_invoice_path(@invoice), html: { class: 'form document-infos--form' } do |f| %>
    <div class="document-infos__actions">
      <%= link_to svg('return'), invoice_path(@invoice), class: 'btn btn--light btn--icon' %>
      <%= button_tag class: 'btn btn--primary btn--icon' do %>
        <%= svg('check') %>
      <% end %>
    </div>
    <%= f.input :advance, label: "#{t('advance_invoice')} ?", input_html: { class: 'checkbox' }  %>
    <%= f.input :number, input_html: { autofocus: true } %>
    <%= f.input :date, html5: true %>
    <%= f.input :title %>
    <%= f.input :flavor, collection: flavors_select_hash, include_blank: false %>
  <% end %>
<% end %>