<main class="document-container">
  <div class="document-nav <%= hide_on_pdf %>">
    <%= link_to sanitize("&larr; #{t('back_to_invoices')}"), invoices_path %>
    <% if @invoice.locked %>
      <h4><%= t('locked_invoice') %></h4>
    <% end %>
    <div class="document-nav__right">
      <% unless @invoice.locked %>
        <%= button_to svg('trash'),
                      @invoice,
                      method: :delete,
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      class: 'btn btn--light btn--icon' %>

        <%= button_to svg('lock'),
                      @invoice,
                      class: 'btn btn--light btn--icon',
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      params: { invoice: { locked: !@invoice.locked } } %>
      <% end %>
      <%= link_to 'PDF', export_to_pdf_invoice_path(@invoice, format: :pdf), class: 'btn btn--primary' %>
    </div>
  </div>
  <div class="document">
    <div class="document__header">
      <div class="document__user">
        <p class="document__title"><%= @invoice.seller_name %></p>
        <p class="document__upcase"><%= @invoice.seller_address1 %></p>
        <p class="document__upcase"><%= @invoice.seller_zipcode %> <%= @invoice.seller_city %></p>
        <p><%= @invoice.seller_country %></p>
        <div class="document__spaced">
          <p><%= @invoice.seller_email %></p>
          <p><%= @invoice.seller_website %></p>
        </div>
        <p class="document__title">SIREN: <%= @invoice.seller_siren %></p>
      </div>
      <div class="document__client">
        <%= render 'invoices/client', invoice: @invoice %>
      </div>
    </div>

    <div class="document__infos">
      <%= render 'infos', invoice: @invoice %>
    </div>

    <div class="document__body">
      <div class="document__line-items">
        <%= render 'line_items_header', invoice: @invoice %>
        <%= turbo_frame_tag nested_dom_id(@invoice, :line_items) do %>
          <%= render @invoice.line_items.ordered, document: @invoice %>
        <% end %>
        <%= turbo_frame_tag nested_dom_id(@invoice, LineItem.new) %>
        <% unless @invoice.locked %>
          <%= button_to svg('plus'),
                      [:new, @invoice, :line_item],
                      method: :get,
                      data: { turbo_frame: nested_dom_id(@invoice, LineItem.new) },
                      class: "btn btn--light btn--icon btn--spaced #{hide_on_pdf}" %>
        <% end %>
        <%= turbo_frame_tag dom_id(@invoice, :total) do %>
          <%= render 'documents/total', document: @invoice %>
        <% end %>
      </div>
      <%= render 'tva', invoice: @invoice %>
    </div>

    <%= render 'payment', invoice: @invoice, bank: @bank %>
  </div>

  <%= render 'days/calendar', invoice: @invoice %>
</main>