<div class="max-w-[817px] mx-auto mb-20 px-4">
  <div class="flex items-center justify-between mb-4 <%= hide_on_pdf %>">
    <%= link_to sanitize("&larr; #{t('back_to_invoices')}"), invoices_path %>
    <% if @invoice.locked %>
      <h4><%= t('locked_invoice') %></h4>
    <% end %>
    <div class="flex gap-3 items-center">
      <% unless @invoice.locked %>
        <%= button_to svg('trash', 'w-6 h-6'),
                      @invoice,
                      method: :delete,
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      class: 'btn-icon' %>

        <%= button_to svg('lock', 'w-6 h-6'),
                      @invoice,
                      class: 'btn-icon',
                      form: { data: { turbo_confirm: t('are_you_sure') } },
                      params: { invoice: { locked: !@invoice.locked } } %>
      <% end %>
      <%= link_to 'PDF', export_to_pdf_invoice_path(@invoice, format: :pdf), class: 'btn-primary' %>
    </div>
  </div>
  <div class="flex flex-col bg-white rounded-md shadow-md p-4 mb-6 print:break-inside-avoid-page group-[[data-pdf='true']]:shadow-none">
    <div class="flex justify-between mb-3">
      <div class="w-1/2 shrink-0 p-4">
        <p class="uppercase font-extrabold mb-3"><%= @invoice.seller_name %></p>
        <p class="uppercase"><%= @invoice.seller_address1 %></p>
        <p class="uppercase"><%= @invoice.seller_zipcode %> <%= @invoice.seller_city %></p>
        <p><%= @invoice.seller_country %></p>
        <div class="my-3">
          <p><%= @invoice.seller_email %></p>
          <p><%= @invoice.seller_website %></p>
        </div>
        <p class="font-extrabold">SIREN: <%= @invoice.seller_siren %></p>
      </div>
      <div class="w-1/2 shrink-0 text-right">
        <%= render 'invoices/client', invoice: @invoice %>
      </div>
    </div>

    <%= render 'infos', invoice: @invoice %>

    <div class="px-4 py-3">
      <div class="flex flex-col">
        <%= render 'line_items/header', document: @invoice %>
        <%= turbo_frame_tag nested_dom_id(@invoice, :line_items) do %>
          <%= render @invoice.line_items.ordered, document: @invoice %>
        <% end %>
        <%= turbo_frame_tag nested_dom_id(@invoice, LineItem.new) %>
        <% unless @invoice.locked %>
          <%= button_to svg('plus', 'w-4 h-4'),
                      [:new, @invoice, :line_item],
                      method: :get,
                      data: { turbo_frame: nested_dom_id(@invoice, LineItem.new) },
                      class: "btn-icon m-2 #{hide_on_pdf}" %>
        <% end %>
        <%= turbo_frame_tag dom_id(@invoice, :total) do %>
          <%= render 'documents/total', document: @invoice %>
        <% end %>
      </div>
      <%= render 'documents/tva', document: @invoice %>
    </div>

    <%= render 'payment', invoice: @invoice, bank: @bank %>
  </div>
  <%= render 'days/calendar', invoice: @invoice %>
<div>
