<div class="flex justify-between items-center mt-4 mb-8">
  <h1 class="text-3xl font-bold"><%= t(document_type, count: documents_grouped_by_year.values.size) %></h1>
  <%= link_to t("new_#{document_type}"),
              [:new, document_type],
              class: 'btn-primary' %>
</div>

<div class="flex flex-col gap-10">
  <% documents_grouped_by_year.each do |year, document| %>
    <div>
      <h2 class="mb-4 text-2xl font-bold"><%= year %></h2>
      <%= render partial: 'documents/card', collection: document, as: :document %>
      <div class="my-6 flex flex-col items-end">
        <div class="px-4 py-1.5"><b><%= t("total_#{document_type}_in_year", year: year) %></b></div>
        <div class="px-4 py-1.5 flex justify-around">
          <span class="min-w-24"><b><%= t('total_without_tax') %></b></span>
          <span class="min-w-24 text-right"><b><%= number_to_currency(document.map(&:total_without_taxes).sum) %></b></span>
        </div>
        <div class="px-4 py-1.5 flex justify-around">
          <span class="min-w-24"><%= t('vat') %></span>
          <span class="min-w-24 text-right"><%= number_to_currency(document.map(&:tva).sum) %></span>
        </div>
        <div class="px-4 py-1.5 flex justify-around">
          <span class="min-w-24"><%= t('total_tax_included') %></span>
          <span class="min-w-24 text-right"><%= number_to_currency(document.map(&:total).sum) %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>