<p class="document__title"><%= user.full_name(with_ei_mention: true) %></p>
<p class="document__upcase"><%= user.address1 %></p>
<p class="document__upcase"><%= user.zipcode %> <%= user.city %></p>
<p><%= user.country %></p>
<div class="document__spaced">
  <p><%= user.email %></p>
  <p><%= user.website %></p>
</div>
<p class="document__title">SIREN: <%= user.siren %></p>