<p class="font-extrabold uppercase mb-3"><%= user.full_name %></p>
<p class="uppercase"><%= user.address1 %></p>
<p class="uppercase"><%= user.zipcode %> <%= user.city %></p>
<p><%= user.country %></p>
<div class="my-3">
  <p><%= user.email %></p>
  <p><%= user.website %></p>
</div>
<p class="font-extrabold">SIREN: <%= user.siren %></p>