
<%= turbo_frame_tag nested_dom_id(quote, :description_block, description_block.position) do %>
  <div class="px-4 py-1">
      <% case description_block.flavor %>
      <% when 'title' %>
        <p class="uppercase font-extrabold"><%= description_block.text %></p>
      <% when 'text' %>
        <p><%= description_block.text %></p>
      <% when 'list' %>
        <ul class="list-disc">
            <% description_block.text.split("\n").each do |item| %>
            <li><%= item %></li>
            <% end %>
        </ul>
      <% end %>
      <%= link_to '',
          [quote, description_block],
          class: "full-absolute #{hide_on_pdf}" %>
  </div>
<% end %>