<div class="line-item line-item--form">
  <%= simple_form_for [document, line_item],
                      html: { class: 'form' } do |f| %>

    <%= f.input :description,
                wrapper_html: { class: 'line-item__description' },
                input_html: { autofocus: true } %>
    <%= f.input :quantity,
                wrapper_html: { class: 'line-item__quantity' } %>
    <%= f.input :unit_price,
                wrapper_html: { class: 'line-item__price' } %>
    <% if document.flavor == 'with_tva' %>
      <span class="line-item__tva"><%= number_to_percentage(Invoice::TVA * 100, precision: 0) %></span>
    <% end %>

    <%=
      link_to svg('return'),
      document.is_a?(Invoice) ? invoice_path(document) : quote_path(document),
      class: 'btn btn--light btn--icon'
    %>

    <%= button_tag class: 'btn btn--primary btn--icon' do %>
      <%= svg('check') %>
    <% end %>
  <% end %>
  <div class="line-item__destroy_button">
    <% unless %w[new create].include?(params[:action]) %>
      <%= button_to svg('trash'),
                    [document, line_item],
                    method: :delete,
                    class: 'btn btn--light btn--icon' %>
    <% end %>
  </div>
</div>