<%= turbo_frame_tag dom_id(document, :line_items_header) do %>
  <div class="bg-gray-200 px-4 py-3 flex items-center gap-2 border-b border-gray-200 font-extrabold">
    <span class="grow"><%= t('description') %></span>
    <span class="text-right shrink-0 w-[50px]"><%= t('qty') %></span>
    <span class="text-right shrink-0 w-[120px]"><%= t('unit_price') %></span>
    <% if document.flavor == 'with_tva' %>
      <span class="text-right shrink-0 w-[60px]"><%= t('vat') %> %</span>
    <% end %>
    <span class="text-right shrink-0 w-[120px]"><%= t('total_without_tax') %></span>
  </div>
<% end %>