<%= turbo_frame_tag dom_id(document, :line_items_header) do %>
  <div class="line-item line-item--header locked">
    <span class="line-item__description"><%= t('description') %></span>
    <span class="line-item__quantity"><%= t('qty') %></span>
    <span class="line-item__price"><%= t('unit_price') %></span>
    <% if document.flavor == 'with_tva' %>
      <span class="line-item__tva"><%= t('tva') %></span>
    <% end %>
    <span class="line-item__total"><%= t('ht_total') %></span>
  </div>
<% end %>