<!DOCTYPE html>
<html>
  <head>
    <title>InvoicesManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('svgs/invoice.svg') %>
  </head>

  <body class="flex flex-col min-h-full bg-body-bg">
    <%= render 'layouts/navbar' %>

    <div id="flash" class="container fixed bottom-6 left-0 right-0 mx-auto max-w-[817px] px-4 flex flex-col gap-3 items-center justify-center z-10">
      <%= render 'layouts/flash' %>
    </div>

    <main class="container mx-auto max-w-5xl px-4">
      <%= yield %>
    </main>
  </body>
</html>
